src/oferta.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="oferta">
    <xs:complexType>
      <xs:sequence>

        <xs:element name="modulo" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>

              <xs:element name="codigo">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:pattern value="\d{4}"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>

              <xs:element name="nombre" type="xs:string"/>
              <xs:element name="horas" type="xs:positiveInteger"/>
              <xs:element name="requisito" type="xs:string"/>
              <xs:element name="resultado" type="xs:string"/>

              <xs:element name="unidad">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="titulo" type="xs:string"/>
                    <xs:element name="horas" type="xs:positiveInteger"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>

            </xs:sequence>
          </xs:complexType>
        </xs:element>

      </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema>